.card-details, .card-details iframe, .card-details img {
    height: auto;
    width: 1280px;
}

.card-details {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    row-gap: 24px;
}
.card-details a {
    text-decoration: none;
    color: #000;
    font-size: larger;
}
.visual-content {
    height: 780px;
    overflow: hidden;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.card-details a:hover {
    text-decoration: underline;
}