@import './interface.css';
@import './cardContainer.css';
@import './cardDetails.css';
@import './cardItem.css';
@import './searchBar.css';
@import './typeControl.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.active {
  background-color: rgb(55, 146, 55);
  opacity: 1;
  transition: .3s ease-in-out;
}
.inactive {
  background-color: #fff;
  opacity: .3;
  transition: .3s ease-in-out;
}
