.search-bar {
    width: 100%;
    margin-bottom: 10px;
}

.search-bar input {
    padding: 12px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
}
.active-search {
    border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;
}
.inactive-search {
    border-radius: 65px ;
    -webkit-border-radius: 65px ;
    -moz-border-radius: 65px ;
    -ms-border-radius: 65px ;
    -o-border-radius: 65px ;
}